html, body {
  padding: 0;
  margin: 0;
}

html{
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
  background-color: rgb(81, 81, 81);
}

.layout {
  display: flex; 
  height: 100%;
}
.list {
  width: 40%;
  margin-top: 3%;
}

.list ul {
  list-style: none;
  width: 50%;
}

.list ul li {
  line-height: 2.5;
  box-sizing: border-box;
  border-bottom: 1px dotted #a9a9a96e;
  color: #c4c3c3;
  font-size: 13px;
  cursor: pointer;
  font-family: "microsoft yahei";
}

.box{
  width: 60%;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}


#webglBox {
  border: 2px solid rgb(215, 215, 215);
  background-color: #272727;
}